/* Tailwind CSS */
@layer theme, base, components;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css";

/* Base CSS */
@import "./styles/common.css";

/* NutUI CSS */
@import "./styles/nutui.css";

:root {
  --background: #f5f4ed;
  --foreground: #141413;

  --card: #faf9f5;
  --card-foreground: #141413;

  --primary: #c96442;
  --primary-foreground: #faf9f5;

  --secondary: #e8e6dc;
  --secondary-foreground: #4d4c48;

  --accent: #e8e6dc;
  --accent-foreground: #4d4c48;

  --muted-foreground: #5e5d59;

  --border: #f0eee6;
  --input: #e8e6dc;

  --ring: #3898ec;
  --destructive: #b53333;

  --success: #387a5f;
  --warning: #b87a3b;

  --shadow-ring: 0px 0px 0px 1px #d1cfc5;
  --shadow-whisper:
    0px 10px 25px -5px rgba(20, 20, 19, 0.05),
    0px 8px 10px -6px rgba(20, 20, 19, 0.05);
}

.dark {
  --background: #141413;
  --foreground: #faf9f5;

  --card: #30302e;
  --card-foreground: #faf9f5;

  --primary: #c96442;
  --primary-foreground: #141413;

  --secondary: #30302e;
  --secondary-foreground: #b0aea5;

  --accent: #30302e;
  --accent-foreground: #b0aea5;

  --muted-foreground: #b0aea5;

  --border: #30302e;
  --input: #30302e;

  --ring: #3898ec;
  --destructive: #b53333;
  --success: #6ba88f;
  --warning: #d49c63;

  --shadow-ring: 0px 0px 0px 1px #30302e;
  --shadow-whisper:
    0px 10px 25px -5px rgba(0, 0, 0, 0.3), 0px 8px 10px -6px rgba(0, 0, 0, 0.3);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-destructive: var(--destructive);
  --color-success: var(--success);
  --color-warning: var(--warning);

  --shadow-ring: var(--shadow-ring);
  --shadow-whisper: var(--shadow-whisper);

  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 24px;
  --radius-3xl: 32px;
}
